{% extends 'base.html' %}
{% load static %}
{% block title %}book appointmnet{% endblock %}
{% block content %}

<div class="main-container">
	<div class="pd-ltr-20 xs-pd-20-10">
		<div class="min-height-200px">
			

				<!-- Default Basic Forms Start -->
				<div class="pd-20 card-box mb-30">
					<div class="clearfix">
						<div class="pull-left">
							<h4 class="text-blue h4">Add customer</h4>
							<p class="mb-30"></p>
						</div>
						
					</div>
                    
					<form method="post" action="" >
						{% csrf_token %}
						<div class="form-group row">
							
							<label class="col-sm-12 col-md-2 col-form-label">Name</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" value={{customer.name}} name="name1" type="text" placeholder="" required>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Title</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" value={{customer.title}} name="title1" placeholder="" type="text" required>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Address</label>
							<div class="col-sm-12 col-md-10">
								<textarea class="form-control" value="{{customer.address}}" name="address1" rows="4" cols="50" required>{{customer.address}}</textarea>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Phone number</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" value={{customer.phnumber}} name="number1"  type="telephone" required>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Last call</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" value={{customer.lastcall}} name="date1" type="date"  required>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Next call</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" value={{customer.nextcall}} name="date2"  type="date"  >
							</div>
						</div>
						
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Status</label>
							<div class="col-sm-12 col-md-10">
								<select name="status1" class="custom-select col-12" required>
									{% if customer.status == 'Strong' %}
									<option selected value="Strong">Strong</option>
									<option value="intermdeiate">intermediate</option>
									<option value="cool">cool</option>
									{% elif customer.status == 'intermdeiate'  %}
									<option  value="Strong">Strong</option>
									<option selected value="intermdeiate">intermediate</option>
									<option value="cool">cool</option>
									{% else %}
									<option  value="Strong">Strong</option>
									<option  value="intermdeiate">intermediate</option>
									<option selected value="cool">cool</option>
									{% endif %}
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label"></label>
							<div class="col-sm-12 col-md-10">
								<button class="btn btn-primary">submit</button>
								<a class="btn btn-danger" href="{% url 'deletecustomer' %}?pk={{customer.id}}">Delete</a>
							</div>
						</div>
					</form>
					
					<div class="collapse collapse-box" id="basic-form1" >
						<div class="code-box">
							<div class="clearfix">
								<a href="javascript:;" class="btn btn-primary btn-sm code-copy pull-left"  data-clipboard-target="#copy-pre"><i class="fa fa-clipboard"></i> Copy Code</a>
								<a href="#basic-form1" class="btn btn-primary btn-sm pull-right" rel="content-y"  data-toggle="collapse" role="button"><i class="fa fa-eye-slash"></i> Hide Code</a>
							</div>
							<pre><code class="xml copy-pre" id="copy-pre">

							</code></pre>
						</div>
					</div>
				</div>
				


{% endblock %}